body {
    margin: 0;
    min-height: 100vh;
    background-color: #FFFAF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    width: 100%;
    background-color: #C75333;
    color: white;
    padding: 16px 24px;
    font-size: 28px;
}

.header-title {
    margin-left: 30px;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-box {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.input-box {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #F0F0F0;
    margin-top: 8px;
}

.select-box{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #F0F0F0;
    margin-top: 8px;   
}

.input-group {
    text-align: left;
    margin-bottom: 16px;
    font-size: 14px;
}

.adjacent-input-group{
    display: flex;
    gap: 10px;
    justify-content: space-between;
        width: 95%;

}

.action-button {
    background-color: #639EB0;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;

}


